
name: tests
run-name: Running tests

on:
  push:
    branches: [ "main", "tests"]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: "./src/package-lock.json"
    - working-directory: ./src
      run: npm ci --legacy-peer-deps
    - working-directory: ./src
      run: npm run prettier:fix && npm run lint:fix
    - working-directory: ./src
      run: npm test